@import url('https://fonts.googleapis.com/css?family=Mukta');

html {
  overflow-y: auto;
}

body,
button,
input,
select,
textarea {
  font-family: 'Mukta';
}

.global-light-hover {
  transition: box-shadow 0.3s;
  transition: background-color 0.3s;
}
.global-light-hover:hover {
  color: initial;
  background-color: whitesmoke !important;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.global-dark-hover {
  transition: box-shadow 0.3s;
  transition: background-color 0.3s;
}
.global-dark-hover:hover {
  color: gold !important;
  background-color: #363636 !important;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}
