html > body > div#root > div.box > div.columns > .main-lobby-chat > div.box.ps {
  position: relative;
  min-height: 500px;
  max-height: 500px;
  overflow: auto;
}

html > body > div#root > div > div.columns > div.column > div.box.ps {
  position: relative;
  min-height: 500px;
  max-height: 500px;
  overflow: auto;
}
