.hover-container {
  position: relative;
}

.hover-container:hover .image-popup {
  position: absolute;
  left: 30px;
  top: -320px;
  width: 225px !important;

  z-index: 1000;
}

.image-popup {
  position: absolute;
  width: 0;
  height: 0;
  left: -9999px;
}
