.red-light-accent {
  background-color: #ff633a;
}

.dark-blue-light-accent {
  background-color: #69b4ff;
}

.green-light-accent {
  background-color: #a2f78b;
}

.yellow-light-accent {
  background-color: #ffffb0;
}

.orange-light-accent {
  background-color: #ffa74c;
}

.purple-light-accent {
  background-color: #ecaaff;
}

.light-blue-light-accent {
  background-color: #affaff;
}

.brown-light-accent {
  background-color: #8e656b;
}

.railroad-light-accent {
  background-color: #403f44;
}

.utility-light-accent {
  background-color: #f6ffe4;
}
