#player-hand-wrapper {
  display: flex;
  flex-direction: column;
}

#hand-card-container {
  flex: 1;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: center;
  overflow-x: auto;
  overflow-y: hidden;
}

.hand-card {
  position: static;
  margin-right: 12px;
}

.hand-card:last-child {
  margin-right: 0;
}

.hand-card .image-popup-wrapper {
  position: absolute;
  z-index: 9999;
  display: none;
}

.hand-card:hover > .image-popup-wrapper {
  display: block;
}

.image-popup {
  top: -600px;
  left: 0;
  width: 300px;
}

.cancel-wrapper {
  margin-top: 12px;
}
